nav {
    min-height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background: transparent;
        border: none;
        border: 2px solid #333;
        padding: 0.6rem;
        transition: all 0.4s ease;
        cursor: pointer;

        &:hover {
            background: #333;
            color: #fff;
        }
    }

    .library-active {
        background: rgb(65, 65, 65);
        color: white;
    }
}
